################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DB_2/v17
/Database1
/.vs/VSWorkspaceState.json
